<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Open Speech Recording</h1>
      </header>

      <section class="top-display">
	<div class="welcome-display">
	  As part of our project at IITB, we need speech data where individual
words are spoken by a large number of different people. This speech
data will be used to  build efficient systems which help detection of
spoken keywords such as &quot;Yes&quot;, &quot;No&quot;, &quot;On&quot;, or &quot;Off&quot;.
	</div>
	<div class="legal"> 
Participant Agreement
	</div>
	<div class="legal">
1.	By participating, this website will ask for permission to use your microphone and prompt you to speak single words which we will record (the “Study”). These words will appear on-screen, one after another, over the course of around five minutes, with short pauses in between. When the microphone is active, you’ll see an oscilloscope display showing a waveform reflecting the audio received. The Record button will turn red when a word is being recorded (each a “clip”). Clips will be displayed in the bottom half of the web page where you can review and delete any of them locally before submitting them to Google. Clips will only be sent to Google when you press the ‘Upload’ button, or the ‘OK’ button on the dialog that appears once you’ve completed all the requested words. At any point you can press the ‘Stop’ button to pause the recording process. Navigating away from this website will remove all local copies of the clips.
	</div>
	<div class="legal">
2.	Your participation is voluntary and you may choose to cease participation at any time. You will not be compensated for your participation. <b>If you choose to participate in this Study, you must be in a quiet room with no other voices and only speak the requested words. A closed room is a good place for this</b>. 
	</div>
	<div class="welcome-display">
          Source : <a href="https://github.com/petewarden/open-speech-recording">https://github.com/petewarden/open-speech-recording</a>
        </div>

      </section>

      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
	    <button class="continue">Start</button>
	  </a>
        </div>
      </section>

    </div>

    <footer>
    </footer>

  </body>
</html>
